<nav class="nav nav-tabs">
  <%= link_to 'Home', "/home", class: 'nav-item nav-link active border-right'%>
  <%= link_to 'About', "/about", class: 'nav-item nav-link border-right'%>
  <%= link_to 'Shop', "/shop", class: 'nav-item nav-link border-right'%>
  <% if current_user && current_user[:role]=="admin" %>
      <%= link_to 'Profile', "/users/edit", class: 'nav-item nav-link border-right'%>
      <a href="#" class="nav-link dropdown-toggle border-right" data-toggle="dropdown">Edit</a>
      <div class="dropdown-menu">
        <%= link_to 'Edit users', "/admin/users", class: 'dropdown-item'%>
        <%= link_to 'Edit categories', "/admin/categories", class: 'dropdown-item'%>
        <%= link_to 'Edit products', "/admin/products", class: 'dropdown-item'%>
      </div>
      <a href="user/cart" class="btn btn-primary btn-lg active ml-auto p-25" role="button" aria-pressed="true"><%= icon('fas', 'shopping-cart') %> Your cart</a>
  <% elsif current_user %>
      <%= link_to 'Profile', "/users/edit", class: 'nav-item nav-link border-right'%>
      <a href="user/cart" class="btn btn-primary btn-lg active ml-auto" role="button" aria-pressed="true"><%= icon('fas', 'shopping-cart') %> Your cart</a>
  <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: 'nav-item nav-link border-right' %>
      <%= link_to 'Sign_in', new_user_session_path, class: 'nav-item nav-link'  %>
  <% end %>
</nav>