<%=form_with url: 'products' do |form|%>
    <div class='edit_form'>
      <%= form.hidden_field :id %>
      <%= form.text_field :name, placeholder: 'Name', class: "medium_field"%>
      <%= form.text_field :price, placeholder: 'Price', class: "small_field"%>
      <%= form.select :category_id, Category.all.map{ |category| category.id },{},{required: 'true', class: 'small_field'}%>
      <%= form.text_area :description, placeholder: 'Description', class:"big_field"%>
      <div class='error_field'></div>
      <%= form.submit "Save", class: 'purple_btn' %>
    </div>
<% end %>