<%= stylesheet_pack_tag 'application' %>
<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <%= render partial:'shared/navigation' %>
    </div>
  </div>
  <div class="row">
    <div class="col-2 h-100">
      <ul class="list-group overflow-auto h-25" id="categories_list">
        <% @categories.each_with_index  do |category,i|%>
            <% if i==0%>
                <div>
                  <p class="sr-only"><%= category.id %></p>
                  <li class="list-group-item list-group-item-action active"><%= category.name %></li>
                </div>
            <%else %>
                <div>
                  <p class="sr-only"><%= category.id %></p>
                  <li class="list-group-item list-group-item-action"><%= category.name %></li>
                </div>
            <% end %>
        <% end %>
      </ul>
      <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Go!</button>
        </div>
      </div>
    </div>
    <div class="col-10" id="products_window">
      <%= render partial: 'shared/product_card', locals: {products: @products} %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'pages' %>
