<%= stylesheet_pack_tag 'application' %>
<%if user_signed_in? && current_user['role'] === 'admin'%>
 <div class="custom_users_table">
  <% @users.each do |user| %>
   <div class="custom_user_edit_form">
    <%= form_with url:'/admin/users', data_remote: false do |form| %>
      <div class="custom_field">
        <% if user.image.url.present? %>
          <%= image_tag(current_user.image.url(:thumb)) %>
          <%= form.check_box :remove_image %>
          <%= form.label :remove_image%>
        <%end %>
          <%= form.file_field :image %>
          <%= form.hidden_field :image_cache %>
      </div>
      <%= form.hidden_field :id, value: user.id%>
      <%= form.text_field :name, value: user.name%>
      <%= form.text_field :email, value: user.email %>

      <% if user.role === 'user' %>
        <%= radio_button_tag(:role, "admin") %>
        <%= label_tag(:role, "admin") %>
        <%= radio_button_tag(:role, "user",true) %>
        <%= label_tag(:role, "user") %>
      <% else %>
        <%= radio_button_tag(:role, "admin",true) %>
        <%= label_tag(:role, "admin") %>
        <%= radio_button_tag(:role, "user") %>
        <%= label_tag(:role, "user") %>
      <% end %>

      <%= form.submit "Save" %>
    <% end %>
   </div>
    <br>
  <% end %>
  <%= link_to "Back", :back %>
 </div>
<% else %>
  <% raise ActionController::RoutingError.new('Not Found') %>
<% end %>
<%= javascript_pack_tag 'bootstrap' %>
