<div class="container">
  <%= image_tag "logo", alt: "LOGO"%>
  <br>
  <div class=<%= resource.invalid? ? "login_error" : "login"%>>
    <h2>Sign in</h2>
    <hr><br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: ' Email' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: ' Password' %>
        </div>

<div class="buttons">
        <div class="actions">
          <%= link_to "Forgot password?", new_password_path(resource_name) %>
        </div>
        <div class="actions">
          <%= link_to "Register", new_registration_path(resource_name),class: 'grey_btn' %>
        </div>
        <div class="actions">
          <%= f.submit "Sign in", class: 'blue_btn'%>
        </div>
</div>
    <% end %>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
</div>

<%= console %>